/**
 * Created by fanm2101 on 2016-03-23.
 * Style pour les textes de validation de mot de passe :
 * " Doit avoir au moins 8 caractères.
 * Doit contenir une lettre minuscule.
 * Doit contenir une lettre majuscule.
 * Doit contenir un nombre ou un caractère particulier."
 *
 */

form ul.helper-text {
    display: block;
    margin-top: 6px;
    font-size: 12px;
    line-wheight: 22px;
    color: #808080;
}
form ul.helper-text li.valid {
    color: #1fd34a;
}
form.valid input {
    border: 2px solid #1fd34a;
}


